:root {
  /* Cores principais */
  --eerie-black: #1d1d1a;
  --bronze: #b19266;
  --timberwolf: #f3ebe0;

  /* Gradientes */
  --gradient-top: linear-gradient(0deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-right: linear-gradient(90deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-bottom: linear-gradient(180deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-left: linear-gradient(270deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-top-right: linear-gradient(45deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-bottom-right: linear-gradient(135deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-top-left: linear-gradient(225deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-bottom-left: linear-gradient(315deg, #1d1d1a, #d58830, #d9dbd3);
  --gradient-radial: radial-gradient(#1d1d1a, #d58830, #d9dbd3);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--eerie-black);
  color: var(--timberwolf);
}
